@import "../variables";

.all_jobs_wrapper {
    @include border_style;
    margin: 10px;
    text-align: justify;
    background-color: rgb(241, 241, 241);
    position: relative;
    overflow: hidden;

    .scroll_wrapper {
        overflow-y: auto;
        position: absolute;
        height: 100%;
        right: -15px;

        .one_job {
            // border: 1px solid gray;
            margin: 10px;
            border-radius: 5px;
            padding: 10px 15px 5px 15px;

            h3,p {
                margin: 5px 0;
                overflow: hidden;
            }
            // p {
            //     margin: 5px 0;
            // }
            p.location_posted_date {
                display: flex;
                justify-content: space-between;
                color: rgba(41, 56, 64, 0.5);
                border-top: 1px solid rgba(158, 158, 158, 0.3);
                padding-top: 5px;
            }
            &:hover {
                box-shadow: 3px 3px 11px 1px #888888;
                p.location_posted_date {
                    border-top: 1px solid #00BCD4;;
                }
            }
            &:nth-child(odd) {
                background-color: #f8feff;
            }
            &:nth-child(even) {
                background-color: white;
            }
        }
    }

}
