.add_post_svg {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    transition: all .5s ease-out;
    // background-color: red;
    border-radius: 100%;
}
 svg:hover #add_post {
    fill: $color_secondary_brighter;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
 }
