@import "../variables";

.job_info_wrapper {
    @include border_style;
    margin: 10px;
    position: relative;

    .edit_job_icon {
        .edit_job_icon_color {
            @include icon_style($color-primary);
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 1em;

        }
        &:hover > .edit_job_icon_color {
            fill: $color_secondary;

        }
    }
}
