// ----------------------------------------
// animation
// ----------------------------------------
@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(50deg);
        opacity: 1;
    }

    35% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        opacity: 1;
        background-color: $color_primary;
        color: white;
    }
}

@keyframes shadow-pop-tr {
    0% {
        box-shadow: 0 0 #3e3e3e;
        transform: translateX(0) translateY(0);
    }

    100% {
        box-shadow: 3px -3px $color_secondary_darker, 4px -4px $color_secondary_darker, 8px -8px $color_secondary_darker, 6px -6px $color_secondary_darker, 7px -7px $color_secondary_darker;
        transform: translateX(-8px) translateY(8px);
    }
}

@keyframes slide-in-tr {
    0% {
        transform: translateY(-1000px) translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}
.tracking_in_contract_bck {
    animation: tracking-in-contract-bck 5s forwards;
}
@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 5em;
        transform: translateZ(1400px);
        opacity: 0;
    }
    30% {
        letter-spacing: .5em;
        opacity: 1;
    }
    70% {
        letter-spacing: .5em;
        opacity: 1;
    }
    100% {
        transform: translateZ(0px);
        opacity: 0;
    }
}
