
// ----------------------------------------
// animation
// ----------------------------------------
@keyframes flip-in-hor-bottom {
    0% {
        transform: rotateX(50deg);
        opacity: 1;
    }

    35% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        opacity: 1;
        background-color: $color_primary;
        color: white;
    }
}
