@import "variables";
body {
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 10%;
  padding: 20px;
  color: white;
  position: relative;
}

.app_body_wrapper {
  height: 90%;
  display: flex;
  flex-direction: row;
  .job_history_wrapper {
    flex: 1;
  }
  .all_jobs_wrapper {
    flex: 3;
    overflow-y: auto;
  }
  .map_job_post_wrapper {
    flex: 3;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#google_map {
  height: 300px;
}

@media screen and (min-width: 1024px){
    #google_map {
        height: 500px;
    }
}


@import 'components/header';
@import 'components/jobHistory';
@import 'components/allJobs';
@import 'components/jobInfo';
@import 'components/mapJobPost';
@import 'components/newPost';
@import 'components/google_map';
