@import "variables";
@import "animation";

body {
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
}

.App_header {
  background-color: #222;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_body_wrapper {
  height: 90%;
  display: flex;
  flex-direction: row;
    .job_history_wrapper {
    flex: 1;
  }
  .all_jobs_wrapper {
    flex: 3;
    overflow-y: auto;
  }
  .map_job_post_wrapper {
    flex: 3;
  }
}

#google_map {
  height: 300px;
}

@media screen and (min-width: 1024px){
    #google_map {
        height: 500px;
    }
}


@import 'components/header';
@import 'components/jobHistory';
@import 'components/allJobs';
@import 'components/jobInfo';
@import 'components/mapJobPost';
@import 'components/newPost';
@import 'components/google_map';
